body{
    font-family: Geneva, serif, Geneva, Tahoma, sans-serif;
}

body {
    background-color:#E8E8E8;
    background-image: url("bg.jpg");
    height: 200%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.containertotal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    padding: 1%;
    margin: 10%;
    margin-top: 5%;
}

h1{

    text-align: center;  
}

#form1{
    background-color:#DCDCDC;
    padding: 2%;
    margin: 1%;
}

#form2{
    background-color:#DCDCDC;
    padding: 2%;
    margin: 1%;
}

input[type=submit] {
    font-size: 100%;
    padding:5px 15px; 
    background:#A9A9A9;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.container{

    text-align: center;
}

#warning{
    text-align: center;
}

.container_button #button {
    font-size: 100%;
    padding:5px 15px; 
    background:#A9A9A9;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.container_button {

    padding-top: 5%;
    text-align: center;
}